.nav {
  font-family: "Poppins", sans-serif;
  background-color: #8d3daf;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}
.nav_h1 {
  color: white;
}
.admincenter {
  height: 91vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.adminForm {
  background-color: #cad5e2;
  height: 20em !important;
  width: 30em !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 16px;
  overflow: hidden;
  -webkit-box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}
.admin_Sign_In {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin_sign_in_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1 {
  color: #8d3daf;
  font-family: "Poppins", sans-serif;
}
.h1_login {
  color: #8d3daf;
  font-family: "Poppins", sans-serif;
}
.input {
  border-radius: 1rem;
  padding: 0.7rem;
  margin: 0.7rem;
  background-color: white !important;
}
.button {
  margin-top: 1rem;
  border-radius: 1rem;
  width: fit-content;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
  background-color: #8d3daf;
}
