.nav {
  font-family: "Poppins", sans-serif;
  background-color: #8d3daf;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}
.h1 {
  color: white;
}

.top_buttons {
  align-items: center;
}
.message_center {
  height: 91vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.backTo {
  margin: 1rem;
  border-radius: 1rem;
}

.backto_h2 {
  padding: 0.7rem;
  border-radius: 1rem;

  background-color: #8d3daf;
  font-family: "Poppins", sans-serif;

  color: white;
}
.backto_h2:hover {
  background-color: #59266e;
}

.message_big_container {
  background-color: #cad5e2;
  height: 35em;
  width: 80em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 16px;
  overflow: hidden;
  -webkit-box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}

.message_heading {
  font-family: "Poppins", sans-serif;
  background-color: #8d3daf;
  display: flex;
  justify-content: center;

  color: white;
}

.message_container {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
}

.message_data {
  border-radius: 16px;
  margin: 0rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 3rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-transform: capitalize;

  background-color: #8d3daf;

  font-family: "Poppins", sans-serif;
  box-shadow: 15px 15px 27px #e1e1e31c, -15px -15px 27px #ffffff1e;
}

.message_email {
  align-items: flex-start;
  color: black;
  font-size: 1.2rem;
  text-transform: uppercase;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  border-radius: 16px 16px 0px 0px;
}

.message_swipe {
  display: flex;
  justify-content: center;
  color: #8d3daf;
  font-family: "Poppins", sans-serif;
}

#messages {
  font-family: "Poppins", sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

#messages td,
#messages th {
  border: 1px solid #ddd;
  padding: 8px;
}

#messages tr:hover {
  background-color: #ddd;
}
#messages tr {
  background-color: white;
}

#messages th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #8d3daf;
  color: white;
}
table {
  counter-reset: section;
}

.count:before {
  counter-increment: section;
  content: counter(section);
}

.top_buttons {
  display: flex;
  justify-content: space-between;
}

.SignOut {
  margin: 1rem;
}

.SignOut_Link {
  padding: 0.7rem;
  background-color: #8d3daf;
  font-family: "Poppins", sans-serif;

  color: white;
}

.SignOut_Link:hover {
  background-color: #59266e;
}

@media screen and (max-width: 450px) {
  .message_center {
    width: auto;
    height: auto;
    margin: 1rem;
  }
  .message_big_container {
    width: auto;
    margin-top: 0;
    height: auto;
  }
  .message_container {
    width: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .message_data {
    margin: 0;
    padding: 0;
    overflow: auto;
    margin-top: 3rem;
  }
  .top_buttons {
    align-items: center;
  }
}

@media screen and (max-width: 735px) {
  .message_big_container {
    height: auto;
    margin-top: 2rem;
  }
}
