@import url("https://fonts.googleapis.com/css2?family=Poppins");

.footer_wrapper {
  background-color: #171717;
  font-family: "Poppins", sans-serif;
  margin-top: 50px;
  padding: 5rem 0;
  color: rgba(255, 255, 255, 0.5);
}

.footer_row {
  display: flex;
  flex-wrap: wrap;
}
.about__section {
  margin-left: 20rem;
  margin-right: 10rem;
}
.about_title {
  color: white;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.explore_section {
  display: flex;
  flex-direction: column;
  margin-right: 7rem;
}
.explore_title {
  color: white;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.explore_link {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  justify-content: center;
  display: flex;
}

.explore_link:hover {
  color: white;
}
.follow_link_title {
  color: white;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.link_list {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
}

.link_icon {
  color: rgba(255, 255, 255, 0.5);
  font-size: 3rem;
  padding: 5px;
}

.link_icon:hover {
  color: white;
}

@media screen and (max-width: 450px) {
  .footer_wrapper {
    position: relative;
    overflow: hidden;
    padding: 5rem 0;
    background: #171717;
  }
  .footer_container {
    width: 100%;
  }
  .footer_row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
  }
  .about__section {
    margin: 0;
  }
  .about_title {
    text-align: center;
  }
  .about_p {
    text-align: center;
  }
  .copyright {
    text-align: center;
  }
  .explore_section {
    text-align: center;
    margin: 0;
    margin-top: 2rem;
  }
  .Follow_link {
    margin-top: 3rem;
    text-align: center;
  }
  .link_list {
    justify-content: center;
    margin-bottom: 0;
  }
}
