@import url("https://fonts.googleapis.com/css2?family=Poppins");
.herosection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5rem;
  width: auto;
}
.hero_container {
  width: 100%;
}
.section_title {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 20px;
}
.section_sub_title {
  font-family: "Poppins", sans-serif;
  font-family: 800;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.29);
}
.about-text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.65);
  margin-top: 50px;
}
.about_section {
  margin-left: 10rem;
  margin-right: 10rem;
}
.skill_section {
  margin-left: 10rem;
  margin-right: 10rem;
}
.row {
  display: flex;
}
.col-1 {
  margin-right: 10rem;
}
.Skills_title {
  font-family: "Poppins", sans-serif;

  font-size: 17px;
  font-weight: 800 !important;
}

.col-1_title {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 800;
  color: #9273cd;
  margin-top: 10px;
}
.col-1_list {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.skills_list_item {
  font-family: "Poppins", sans-serif;

  height: 40px;
  font-size: 11.5px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem 0.25rem 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  margin-right: 0.5rem;
}

.col-2_list {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.col-2_title {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 800;
  color: #9273cd;
  margin-top: 10px;
}
.design_list_item {
  font-family: "Poppins", sans-serif;

  height: 40px;
  font-size: 11.5px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem 0.25rem 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  margin-right: 0.5rem;
}

.item {
  color: #9273cd;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-top: 30px;
}

.item_list {
  margin-top: 50px;
}

.item_name {
  color: rgba(0, 0, 0, 0.692);
  width: 120px;
  margin-left: 10px;
}
.subtitle {
  font-size: 10px;
}
.progress_bar {
  height: 0.5rem;
  border-radius: 0.5rem;
  background: #9273cd;
}
.progress_wrapper {
  flex: 1 1 auto;
  width: 130px;
  background: #e0e0e0;
  border-radius: 10px;
}
.col-2_list_page3 {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.swipe {
  margin-top: 40px;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 600;
  color: #9273cd;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media screen and (max-width: 450px) {
  .herosection {
    width: 100%;
    height: auto;
  }
  .about_section {
    margin: 3rem;
  }

  .section_title {
    display: flex;
    justify-content: center;
    font-weight: 1000 !important;
  }
  .section_sub_title {
    display: flex;
    justify-content: center;
  }
  .hero_title {
    font-weight: 1000 !important;
  }
  .about_data {
    text-align: center;
  }
  .skill_section {
    margin: 3rem;
  }
  .Skills_title {
    text-align: center;
  }
  .row {
    flex-direction: column;
  }
  .col-1 {
    margin: 0;
  }
  .col-1_title {
    text-align: center;
    font-size: 1.2rem !important;
  }
  .col-1_list {
    justify-content: center;
  }
  .col-2_title {
    margin-top: 2rem;
    font-size: 1.2rem !important;

    text-align: center;
  }
  .col-2_list {
    justify-content: center;
  }
  .item_list {
    margin-top: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .item {
    width: auto;
    flex-direction: column;
    justify-content: center;
  }
  .item_name {
    text-align: center;
    margin-left: 0;
  }
  .col-2_list_page3 {
    margin: 0;
  }
  .progress_wrapper {
    margin-top: 0.7rem;
  }
}
